/*body, html {
	background: #4D7298;
	font-family: 'Open Sans', sans-serif;
}

.greetings-container-placeholder {
	display: inline-block;
	float: left;
	color: #D0EFB1;
	background: #77A6B6;
	padding: .7em;
	border-radius: .5em;
	margin:;
}

*/